In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Groupby And Aggregate Functions').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv('/home/rosh/Documents/GroupBy.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|    Name |  Department|Salary|
+---------+------------+------+
|  Sushant|    Big Data|100000|
|   Roshan|         IOT| 50000|
|   Aakash|Data Science| 30000|
|    Harsh|   Bussiness| 20000|
|      Sid|Data Science| 60000|
|   Shivam|Data Science| 10000|
|  Shamita|    Big Data| 60000|
|  Khusboo|         IOT| 40000|
|    Pooja|    Big Data|100000|
|   Anjali|   Bussiness| 70000|
|   Amisha|Data Science| 80000|
|Saundarya|   Bussiness| 90000|
+---------+------------+------+

In [5]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [6]:
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      90000|
|   Bussiness|     180000|
|    Big Data|     260000|
|Data Science|     180000|
+------------+-----------+

In [7]:
df_pyspark.groupBy('Name ').sum().show()

+---------+-----------+
|    Name |sum(Salary)|
+---------+-----------+
|   Roshan|      50000|
|   Amisha|      80000|
|  Sushant|     100000|
|    Pooja|     100000|
|  Shamita|      60000|
|   Shivam|      10000|
|      Sid|      60000|
|  Khusboo|      40000|
|    Harsh|      20000|
|   Aakash|      30000|
|Saundarya|      90000|
|   Anjali|      70000|
+---------+-----------+

In [8]:
df_pyspark.groupBy('Name ').mean().show()

+---------+-----------+
|    Name |avg(Salary)|
+---------+-----------+
|   Roshan|    50000.0|
|   Amisha|    80000.0|
|  Sushant|   100000.0|
|    Pooja|   100000.0|
|  Shamita|    60000.0|
|   Shivam|    10000.0|
|      Sid|    60000.0|
|  Khusboo|    40000.0|
|    Harsh|    20000.0|
|   Aakash|    30000.0|
|Saundarya|    90000.0|
|   Anjali|    70000.0|
+---------+-----------+

In [11]:
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|   Bussiness|    3|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [12]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     710000|
+-----------+

In [13]:
df_pyspark.agg({'Salary':'max'}).show()

+-----------+
|max(Salary)|
+-----------+
|     100000|
+-----------+

In [15]:
df_pyspark.groupBy('Name ').max().show()

+---------+-----------+
|    Name |max(Salary)|
+---------+-----------+
|   Roshan|      50000|
|   Amisha|      80000|
|  Sushant|     100000|
|    Pooja|     100000|
|  Shamita|      60000|
|   Shivam|      10000|
|      Sid|      60000|
|  Khusboo|      40000|
|    Harsh|      20000|
|   Aakash|      30000|
|Saundarya|      90000|
|   Anjali|      70000|
+---------+-----------+

In [16]:
df_pyspark.groupBy('Name ').min().show()

+---------+-----------+
|    Name |min(Salary)|
+---------+-----------+
|   Roshan|      50000|
|   Amisha|      80000|
|  Sushant|     100000|
|    Pooja|     100000|
|  Shamita|      60000|
|   Shivam|      10000|
|      Sid|      60000|
|  Khusboo|      40000|
|    Harsh|      20000|
|   Aakash|      30000|
|Saundarya|      90000|
|   Anjali|      70000|
+---------+-----------+

In [17]:
df_pyspark.groupBy('Name ').avg().show()

+---------+-----------+
|    Name |avg(Salary)|
+---------+-----------+
|   Roshan|    50000.0|
|   Amisha|    80000.0|
|  Sushant|   100000.0|
|    Pooja|   100000.0|
|  Shamita|    60000.0|
|   Shivam|    10000.0|
|      Sid|    60000.0|
|  Khusboo|    40000.0|
|    Harsh|    20000.0|
|   Aakash|    30000.0|
|Saundarya|    90000.0|
|   Anjali|    70000.0|
+---------+-----------+