In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [5]:
df_spark = spark.read.option('header','true').csv('/home/rosh/Documents/testing.csv', inferSchema=True)
df_spark.show()

+-------+----+----------+
|   Name|Age |Experience|
+-------+----+----------+
|Sushant|  20|        10|
| Roshan|  17|        20|
|Shamita|  17|         5|
| Aakash|  19|         8|
+-------+----+----------+

In [6]:
# Checking the schemas

df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age : integer (nullable = true)
 |-- Experience: integer (nullable = true)

## Note :- By default the pyspark takes all the values as the string. So if we do not want that                  pyspark should take all the values as default i.e as string we have to give one                          more function in csv and that is inferSchema and set the values as TRUE for it

In [8]:
# SOME ANOTHER WAYS OF GETTING THE DATA IN PYSPARKM

df_pyspark = spark.read.csv('/home/rosh/Documents/testing.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+----+----------+
|   Name|Age |Experience|
+-------+----+----------+
|Sushant|  20|        10|
| Roshan|  17|        20|
|Shamita|  17|         5|
| Aakash|  19|         8|
+-------+----+----------+

## Note :- Dataframe is a datastructures, because inside this you can perform various operation.

In [9]:
# Getting the column name

df_pyspark.columns

['Name', 'Age ', 'Experience']

In [12]:
# Getting the head element. So basically in pyspark we get the head elemnt in the type of list

df_pyspark.head(4)

[Row(Name='Sushant', Age =20, Experience=10),
 Row(Name='Roshan', Age =17, Experience=20),
 Row(Name='Shamita', Age =17, Experience=5),
 Row(Name='Aakash', Age =19, Experience=8)]

In [16]:
# Displaying the single column i.e getting the value of one column. so for that we use the select function.And we 
# are also getting its type

ty_pe = df_pyspark.select('Name')
ty_pe.show()
type(ty_pe)

+-------+
|   Name|
+-------+
|Sushant|
| Roshan|
|Shamita|
| Aakash|
+-------+

pyspark.sql.dataframe.DataFrame

In [18]:
# Selecting multiple columns from the data

ty_pe = df_pyspark.select('Name','Experience')
ty_pe.show()
type(ty_pe)

+-------+----------+
|   Name|Experience|
+-------+----------+
|Sushant|        10|
| Roshan|        20|
|Shamita|         5|
| Aakash|         8|
+-------+----------+

pyspark.sql.dataframe.DataFrame

In [19]:
# Checking the data types. so for that we use tge dtypes functon

df_pyspark.dtypes

[('Name', 'string'), ('Age ', 'int'), ('Experience', 'int')]

In [20]:
# Describing our data

df_pyspark.describe().show()

+-------+-------+-----+-----------------+
|summary|   Name| Age |       Experience|
+-------+-------+-----+-----------------+
|  count|      4|    4|                4|
|   mean|   null|18.25|            10.75|
| stddev|   null|  1.5|6.499999999999999|
|    min| Aakash|   17|                5|
|    max|Sushant|   20|               20|
+-------+-------+-----+-----------------+

In [25]:
# Adding columns in data frame in pyspark. so for that we use the withColumn function

Add_column = df_pyspark.withColumn('Experience After 2 Year',df_pyspark['Experience']+2)

In [26]:
Add_column.show()

+-------+----+----------+-----------------------+
|   Name|Age |Experience|Experience After 2 Year|
+-------+----+----------+-----------------------+
|Sushant|  20|        10|                     12|
| Roshan|  17|        20|                     22|
|Shamita|  17|         5|                      7|
| Aakash|  19|         8|                     10|
+-------+----+----------+-----------------------+

In [27]:
# Dropping the column in pyspark os for that we use drop function

drop_column = df_pyspark.drop('Experience After 2 Year')
drop_column.show()

+-------+----+----------+
|   Name|Age |Experience|
+-------+----+----------+
|Sushant|  20|        10|
| Roshan|  17|        20|
|Shamita|  17|         5|
| Aakash|  19|         8|
+-------+----+----------+

In [28]:
# Renaming the column name so for that we use the withColumnRenamed function.

rename_column = df_pyspark.withColumnRenamed('Name','New Name')
rename_column.show()

+--------+----+----------+
|New Name|Age |Experience|
+--------+----+----------+
| Sushant|  20|        10|
|  Roshan|  17|        20|
| Shamita|  17|         5|
|  Aakash|  19|         8|
+--------+----+----------+