In [1]:
import pyspark

In [2]:
import pandas as pd
df = pd.read_csv('/home/rosh/Documents/Pyspark testing.csv')
df

      Name  Age
0  Sushant   20
1   Roshan   17
2  Shamita   17
3   Aakash   19

### Starting a pyspark session

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('/home/rosh/Documents/Pyspark testing.csv')

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [8]:
# Getting the data stored in the variable 

df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
|Sushant| 20|
| Roshan| 17|
|Shamita| 17|
| Aakash| 19|
+-------+---+

In [9]:
# So as we can see that we are not getting our actual column name for that we have to use option function.

df_pyspark = spark.read.option('header','true').csv('/home/rosh/Documents/Pyspark testing.csv')
df_pyspark.show()

+-------+---+
|   Name|Age|
+-------+---+
|Sushant| 20|
| Roshan| 17|
|Shamita| 17|
| Aakash| 19|
+-------+---+

In [10]:
# Seeing the datatype of our data

type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.head(4)

[Row(Name='Sushant', Age='20'),
 Row(Name='Roshan', Age='17'),
 Row(Name='Shamita', Age='17'),
 Row(Name='Aakash', Age='19')]

In [12]:
# Getting more information of our data

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)