In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [4]:
df_spark = spark.read.csv('/home/rosh/Documents/Dataframe.csv',header=True,inferSchema=True)
df_spark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
| Sushant| 20|        10| 30000|
|  Aakash| 19|         8| 25000|
|  Roshan| 17|         4| 20000|
|   Harsh| 20|         3| 15000|
|     Sid| 20|         1| 18000|
| Shamita| 17|         2| 40000|
|khushboo| 18|         5| 38000|
+--------+---+----------+------+

## Filter Operations

In [6]:
# Finding the salary of the people less than or equal to 20000 for this we use the filter function

df_spark.filter('Salary <= 20000').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Roshan| 17|         4| 20000|
| Harsh| 20|         3| 15000|
|   Sid| 20|         1| 18000|
+------+---+----------+------+

In [7]:
# So after putting the condition if we want selected particular row than we use the select function 

df_spark.filter('Salary <= 20000').select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|Roshan| 17|
| Harsh| 20|
|   Sid| 20|
+------+---+

In [12]:
# It is an another way of retriving the record

df_spark.filter(df_spark['Salary'] <= 20000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Roshan| 17|         4| 20000|
| Harsh| 20|         3| 15000|
|   Sid| 20|         1| 18000|
+------+---+----------+------+

In [17]:
# If we want to put the two or multiple condition than we use the and or operation

df_spark.filter((df_spark['Salary'] <= 20000) & (df_spark['Age'] <= 19)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Roshan| 17|         4| 20000|
+------+---+----------+------+

In [21]:
df_spark.filter((df_spark['Salary'] == 20000) & (df_spark['Age'] == 21)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
+----+---+----------+------+

In [22]:
df_spark.filter((df_spark['Salary'] == 20000) | (df_spark['Age'] == 21)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Roshan| 17|         4| 20000|
+------+---+----------+------+

In [24]:
# Putting the inverse filter operation

df_spark.filter(~(df_spark['Salary'] <= 20000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
| Sushant| 20|        10| 30000|
|  Aakash| 19|         8| 25000|
| Shamita| 17|         2| 40000|
|khushboo| 18|         5| 38000|
+--------+---+----------+------+