In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Handling Missing Values').getOrCreate()

In [4]:
spark

In [5]:
df_spark = spark.read.csv('/home/rosh/Documents/testin 2.csv', header=True, inferSchema=True)
df_spark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
| Sushant|  20|        10| 30000|
|  Aakash|  19|         8| 25000|
|  Roshan|  17|         4| 20000|
|   Harsh|  20|         3| 15000|
|     Sid|  20|         1| 18000|
| Shamita|  17|         2| 40000|
|khushboo|null|      null| 38000|
|    null|  15|        10| 20000|
|    null|  16|      null|  null|
+--------+----+----------+------+

In [6]:
# Dropping the column in pyspark

df_spark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  20|        10| 30000|
|  19|         8| 25000|
|  17|         4| 20000|
|  20|         3| 15000|
|  20|         1| 18000|
|  17|         2| 40000|
|null|      null| 38000|
|  15|        10| 20000|
|  16|      null|  null|
+----+----------+------+

In [7]:
# dropping the rows on the basis of the null values by usng the na.drop() function. If we dont specify anything 
# so it will delete all the rows containing the null values.

df_spark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sushant| 20|        10| 30000|
| Aakash| 19|         8| 25000|
| Roshan| 17|         4| 20000|
|  Harsh| 20|         3| 15000|
|    Sid| 20|         1| 18000|
|Shamita| 17|         2| 40000|
+-------+---+----------+------+

In [8]:
# If inside drop if we specify that drop how equal to any than it will drop a row if it contains any nulls.

df_spark.na.drop(how="any").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sushant| 20|        10| 30000|
| Aakash| 19|         8| 25000|
| Roshan| 17|         4| 20000|
|  Harsh| 20|         3| 15000|
|    Sid| 20|         1| 18000|
|Shamita| 17|         2| 40000|
+-------+---+----------+------+

In [9]:
# If inside drop if we specify that drop how equal to any than it will drop a row only if all its values are null.
# So as there are no all null values in a particular row so it will not delete it.

df_spark.na.drop(how="all").show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
| Sushant|  20|        10| 30000|
|  Aakash|  19|         8| 25000|
|  Roshan|  17|         4| 20000|
|   Harsh|  20|         3| 15000|
|     Sid|  20|         1| 18000|
| Shamita|  17|         2| 40000|
|khushboo|null|      null| 38000|
|    null|  15|        10| 20000|
|    null|  16|      null|  null|
+--------+----+----------+------+

In [10]:
# the thresh value inside the drop specify that if more than two non null values are present than drop that whole 
# row

df_spark.na.drop(how='any', thresh=3).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sushant| 20|        10| 30000|
| Aakash| 19|         8| 25000|
| Roshan| 17|         4| 20000|
|  Harsh| 20|         3| 15000|
|    Sid| 20|         1| 18000|
|Shamita| 17|         2| 40000|
|   null| 15|        10| 20000|
+-------+---+----------+------+

In [11]:
# Subset So it basically delete all row of a particular column if it has null values present

df_spark.na.drop(how='any', subset=['Name']).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
| Sushant|  20|        10| 30000|
|  Aakash|  19|         8| 25000|
|  Roshan|  17|         4| 20000|
|   Harsh|  20|         3| 15000|
|     Sid|  20|         1| 18000|
| Shamita|  17|         2| 40000|
|khushboo|null|      null| 38000|
+--------+----+----------+------+

In [12]:
# Filling the missing values. so it basically replace the nan values with the missing values

df_spark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|       Sushant|  20|        10| 30000|
|        Aakash|  19|         8| 25000|
|        Roshan|  17|         4| 20000|
|         Harsh|  20|         3| 15000|
|           Sid|  20|         1| 18000|
|       Shamita|  17|         2| 40000|
|      khushboo|null|      null| 38000|
|Missing Values|  15|        10| 20000|
|Missing Values|  16|      null|  null|
+--------------+----+----------+------+

In [13]:
# Filling the nan values of a particular column with the missing values

df_spark.na.fill('Missing Values',subset='Name').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|       Sushant|  20|        10| 30000|
|        Aakash|  19|         8| 25000|
|        Roshan|  17|         4| 20000|
|         Harsh|  20|         3| 15000|
|           Sid|  20|         1| 18000|
|       Shamita|  17|         2| 40000|
|      khushboo|null|      null| 38000|
|Missing Values|  15|        10| 20000|
|Missing Values|  16|      null|  null|
+--------------+----+----------+------+

In [14]:
df_spark.na.fill('Missing Values',subset = 'Experience').show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
| Sushant|  20|        10| 30000|
|  Aakash|  19|         8| 25000|
|  Roshan|  17|         4| 20000|
|   Harsh|  20|         3| 15000|
|     Sid|  20|         1| 18000|
| Shamita|  17|         2| 40000|
|khushboo|null|      null| 38000|
|    null|  15|        10| 20000|
|    null|  16|      null|  null|
+--------+----+----------+------+

In [15]:
df_spark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
| Sushant|  20|        10| 30000|
|  Aakash|  19|         8| 25000|
|  Roshan|  17|         4| 20000|
|   Harsh|  20|         3| 15000|
|     Sid|  20|         1| 18000|
| Shamita|  17|         2| 40000|
|khushboo|null|      null| 38000|
|    null|  15|        10| 20000|
|    null|  16|      null|  null|
+--------+----+----------+------+

In [16]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['Age','Experience','Salary']]
    ).setStrategy('mean')

In [17]:
imputer.fit(df_spark).transform(df_spark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
| Sushant|  20|        10| 30000|         20|                10|         30000|
|  Aakash|  19|         8| 25000|         19|                 8|         25000|
|  Roshan|  17|         4| 20000|         17|                 4|         20000|
|   Harsh|  20|         3| 15000|         20|                 3|         15000|
|     Sid|  20|         1| 18000|         20|                 1|         18000|
| Shamita|  17|         2| 40000|         17|                 2|         40000|
|khushboo|null|      null| 38000|         18|                 5|         38000|
|    null|  15|        10| 20000|         15|                10|         20000|
|    null|  16|      null|  null|         16|                 5|         25750|
+--------+----+----------+------+-----------+------------------+--------------+